.ng-valid:not(form).ng-touched  {
  border-left: 5px solid #42A948; /* green */
  border-color: #42A948;
}

.ng-invalid:not(form).ng-touched  {
  border-left: 5px solid #a94442; /* red */
  border-color: #a94442;
}

button.disabled {
  background-color: var(--gray-500); /* Color de fondo para el botón deshabilitado */
  border-color: var(--gray-500);
}

.colorDiv {
  background-color: #ff7600;
}

.colorButton {
  background-color: #2d3c6e;
}

.app-download {
  max-width: 400px;
  min-width: 150px;
}

.txtGuide {
  font-family: 'Inter', sans-serif;
}

.colorTextGuide {
  color: #2d3c6e;
}

.chk-remember.ng-valid:not(form).ng-touched {
  border-left: none; /* Elimina el borde para el checkbox */
}
