<div class="flex h-full">
  <div class="surface-section flex flex-column justify-content-between w-full lg:w-6 p-6 lg:p-8 relative">
    <div>
      <div class="flex absolute top-0 left-0 sm:ml-[-1rem] lg:ml-0 mt-6" @slideIn>
        <div class="colorDiv w-8rem lg:min-w-full h-6rem"></div>
        <img alt="fractal-logo" class="bg-cover w-6rem border-round-right-2xl" src="../../../../assets/logo.png"/>
      </div>
      <div class="text-900 text-3xl font-bold mb-3 sm:ml-0 xl:ml-8" style="margin-top: 6.5rem">
        Inicia sesión
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="sm:ml-0 xl:ml-8">
      <span class="p-input-icon-left w-full lg:w-10 mb-3">
        <i class="pi pi-user"></i>
        <input class="w-full py-3" formControlName="username" pInputText placeholder="Username" type="text"/>
      </span>
        <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors"
             @fadeInOut
             class="p-fluid mb-3 -mt-2 fade-in">
          <div
            *ngIf="loginForm.get('username')?.errors?.['required']"
            class="p-error">
            <small>El username es requerido.</small>
          </div>
        </div>
        <span class="p-input-icon-left w-full lg:w-10 mb-3">
        <i class="pi pi-lock"></i>
        <input
          class="w-full py-3"
          formControlName="password"
          pInputText
          placeholder="Contraseña"
          type="password"
        />
      </span>
        <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors"
             @fadeInOut
             class="p-fluid mb-3 -mt-2 fade-in">
          <div
            *ngIf="loginForm.get('password')?.errors?.['required']"
            class="p-error">
            <small>La contraseña es requerida.</small>
          </div>
        </div>
      </form>
      <div class="sm:ml-0 xl:ml-8 pb-3">
        <p-checkbox
          class="chk-remember"
          [label]="'Recordar usuario y contraseña'"
          [(ngModel)]="rememberLogin"
          [binary]="true"
        ></p-checkbox>
      </div>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="sm:ml-0 xl:ml-8">
        <button
          [class.disabled]="loginForm.invalid"
          [disabled]="loginForm.invalid"
          class="p-element p-ripple w-full lg:w-10 p-3 p-button p-component colorButton"
          label="Sign In"
          pbutton=""
          pripple=""
          type="submit">
          <span class="p-button-label">Continuar</span>
          <i class="pi pi-arrow-right"></i>
        </button>
      </form>

    </div>

    <div class="flex flex-column align-items-center py-6 w-full h-fit">
      <a class="p-element p-ripple w-full p-3 p-button p-component colorButton app-download no-underline"
         [href]="urlDownloadApp"
         [target]="urlDownloadApp != '#' ? '_blank' : '_self'">
        <span class="p-button-label">Descargar app</span>
      </a>
      <div class="pt-3">
        <small class="colorTextGuide">
          Puede descargar el manual de instalación del app
          <a class="p-element p-ripple w-full active:surface-hover colorTextGuide"
             [href]="urlDownloadGuideApp"
             [target]="urlDownloadGuideApp != '#' ? '_blank' : '_self'">
            aquí
          </a>
        </small>
      </div>
    </div>
  </div>
  <div class="h-screen hidden lg:block">
    <div class="flex justify-center items-center mx-auto h-full w-fit">
      <img
        alt="image"
        class="w-full h-full"
        src="../../../../assets/Line pattern.svg"
      />
    </div>
  </div>
</div>
