input[type=checkbox] {
  transform: scale(1.5);
}

.bg-span {
  background-color: #ffe5ca;
}

.text-span {
  color: #ff9b33;
}

.bg-tag-span {
  background-color: #ecfdf3;
}

.text-tag-span {
  color: #027a48;
}

/* Estilos base para el paginador */
.p-paginator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media query para pantallas pequeñas (sm) */
@media (max-width: 576px) {
  .p-paginator {
      flex-direction: column;
  }
  .p-paginator .p-button {
      width: 100%; /* Hacer que los botones ocupen todo el ancho */
      margin-bottom: 10px; /* Añadir un poco de margen entre los botones */
  }
}

/* Ajustes para pantallas medianas y grandes */
@media (min-width: 577px) {
  .p-paginator .p-button {
      padding: 10px 20px; /* Ajustar el relleno para hacer los botones más grandes */
      font-size: 16px; /* Aumentar el tamaño de la fuente para una mejor legibilidad */
  }
}
