<div class="min-w-full px-4 py-10 sm:px-6 lg:px-10 lg:py-14 mx-auto">
  <p-table
    #dt
    [value]="equipos"
    [rows]="5"
    [paginator]="true"
    [globalFilterFields]="['status']"
    [tableStyle]="{ 'min-width': '100%', 'border-radius': '50%' }"
    styleClass=""
    dataKey="nombreModelo"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [(selection)]="selectedProducts"
    [breakpoint]="'1170px'"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <div class="flex align-items-center gap-2">
          <h5 class="m-0 text-xl font-semibold text-gray-800">Máquinas</h5>
          <span
            class="inline-flex align-items-center px-3 py-1 border-round-2xl text-base font-medium bg-span text-span"
            >{{ equipos.length }} máquinas</span
          >
        </div>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Image</th>

        <th style="min-width: 45rem">Name</th>
        <th pSortableColumn="inventoryStatus" style="width: fit-content">
          Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipo>
      <tr>
        <td class="p-selectable-row">
          <p-tableCheckbox [value]="equipo"></p-tableCheckbox>
        </td>
        <td>
          <img
            src="../../../../../assets/machine.png"
            [alt]="equipo.nombreModelo"
            width="50"
          />
        </td>
        <td>{{ equipo.nombreModelo }}</td>
        <!-- <td>
          <p-tag
            [value]="
              equipo.idEstadoRegistro === 1 ? 'Habilitado' : 'Deshabilitado'
            "
            icon="pi pi-circle-fill"
            [severity]="getSeverity(equipo.idEstadoRegistro)"
          ></p-tag>
        </td> -->
        <td>
          <div class="w-min">
            <span
              class="py-1 px-2 flex align-items-center justify-content-center items-center gap-2 text-sm font-medium bg-green-200 text-green-500 border-round-2xl"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-circle-fill"
                viewBox="0 0 16 16"
              >
                <circle cx="8" cy="8" r="8" />
              </svg>
              {{
                equipo.idEstadoRegistro === 1 ? "Habilitado" : "Deshabilitado"
              }}
            </span>
          </div>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-secondary"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-arrow-left"
        label="Volver"
        styleClass="p-button-outlined border-gray-300 text-gray-800"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        label="Siguiente"
        icon="pi pi-arrow-right"
        iconPos="right"
        styleClass="p-button-outlined border-gray-300 text-gray-800"
      ></p-button>
    </ng-template>
  </p-table>
</div>
