<div class="">
  <p-table
    #dt
    [value]="equipos"
    [rows]="rows"
    [paginator]="true"
    [(first)]="first"
    [showFirstLastIcon]="true"
    [globalFilterFields]="['estado']"
    [tableStyle]="{
      'min-width': '100%',
      border: '1px solid #e7eaed',
      'border-top': 'none'
    }"
    dataKey="nombreModelo"
    [(selection)]="selectedProducts"
    [breakpoint]="'1170px'"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex align-items-center justify-content-center gap-2 md:gap-0 md:justify-content-between flex-wrap"
      >
        <div class="flex align-items-center gap-2">
          <span
            class="inline-flex align-items-center px-3 py-1 border-round-2xl text-base font-medium bg-orange-100 text-orange-400"
            >{{ equipos.length }}
            {{
              equipos.length > 1 || equipos.length === 0
                ? "Máquinas"
                : "Máquina"
            }}
          </span>
        </div>
        <form [formGroup]="searchForm">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Search..."
              formControlName="searchInput"
            />
          </span>
        </form>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>

        <th style="min-width: 45rem">Máquina</th>
        <th scope="col" pSortableColumn="estado" style="width: fit-content">
          Estado
          <p-sortIcon field="estado"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-equipo>
      <tr
        class="overflow-y-auto hover:bg-black-alpha-10"
        style="cursor: pointer"
        @fadeInOut
      >
        <td class="p-selectable-row">
          <p-tableCheckbox [value]="equipo"></p-tableCheckbox>
        </td>
        <td
          (click)="setEquipo(equipo.idEquipo, equipo.nombreEquipo)"
          routerLink="/main/machine-events"
        >
          <div class="flex align-items-center gap-2">
            <img
              src="../../../../../assets/machine.png"
              [alt]="equipo.nombreEquipo + ' - ' + equipo.modelo"
              width="50"
            />
            {{ equipo.nombreEquipo }} - {{ equipo.modelo }} - {{ equipo.serie }}
          </div>
        </td>
        <td>
          <div class="w-max">
            <span
              class="py-1 px-2 flex align-items-center justify-content-center items-center gap-2 text-sm font-medium border-round-2xl"
              [ngClass]="getSeverity(equipo.estado)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="8"
                height="8"
                fill="currentColor"
                class="bi bi-circle-fill"
                viewBox="0 0 16 16"
              >
                <circle cx="8" cy="8" r="8" />
              </svg>
              {{ equipo.estado }}
            </span>
          </div>
        </td>
        <td>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-secondary p-button-text"
            (click)="confirmDisable(equipo.idEquipo)"
            *ngIf="
              currentUser?.rol !== 'Data User' ||
              currentUser?.rol !== 'Operador'
            "
          ></button>
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-secondary p-button-text"
            (click)="getMachineDataById(equipo)"
            *ngIf="
              currentUser?.rol !== 'Data User' ||
              currentUser?.rol !== 'Operador'
            "
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-arrow-left"
        label="Volver"
        styleClass="p-button-outlined border-gray-300 text-gray-800"
        (click)="prev()"
        [disabled]="isFirstPage()"
      ></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        label="Siguiente"
        icon="pi pi-arrow-right"
        iconPos="right"
        styleClass="p-button-outlined border-gray-300 text-gray-800"
        (click)="next()"
        [disabled]="isLastPage()"
      ></p-button>
    </ng-template>
  </p-table>
</div>
<!-- Edit modal-->
<p-dialog
  header="Editar la maquina"
  [(visible)]="visibleEditModal"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [breakpoints]="{ '960px': '75vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="closeEditDialog()"
>
  <form class="grid formgrid p-fluid" [formGroup]="editMachineForm">
    <div class="col-12">
      <div class="field grid">
        <label class="col-12 md:col-2">Nombre del equipo</label>
        <div class="col-12 md:col-10">
          <input
            pInputText
            type="text"
            placeholder="Sensor x"
            formControlName="nombreModelo"
          />
        </div>
      </div>
      <div
        *ngIf="
          editMachineForm.get('nombreModelo')?.touched &&
          editMachineForm.get('nombreModelo')?.errors
        "
        @fadeInOut
        class="p-fluid mb-3 -mt-2 fade-in flex align-items-center gap-2"
      >
        <div
          *ngIf="editMachineForm.get('nombreModelo')?.errors?.['required']"
          class="p-error"
        >
          <small>El nombre del equipo es requerido.</small>
        </div>
        <div
          *ngIf="editMachineForm.get('nombreModelo')?.errors?.['minLength']"
          class="p-error"
        >
          <small>Debes ingresar como mínimo 2 caracteres.</small>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="field grid">
        <label class="col-12 md:col-2">Modelo</label>
        <div class="col-12 md:col-10">
          <input
            pInputText
            type="text"
            placeholder="Sensor modelo x"
            formControlName="modelo"
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="field grid">
        <label class="col-12 md:col-2">Serie</label>
        <div class="col-12 md:col-10">
          <input
            pInputText
            type="text"
            placeholder="Sensor series x"
            formControlName="serie"
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="field grid">
        <label class="col-12 md:col-2">Tipo del equipo</label>
        <div class="col-12 md:col-10">
          <input
            pInputText
            type="text"
            placeholder="Sensor"
            formControlName="tipoEquipo"
          />
        </div>
      </div>
    </div>
    <div class="col-12 p-fluid flex flex-column gap-1 md:flex-row md:gap-2">
      <button
        [class.disabled]="editMachineForm.invalid"
        [disabled]="editMachineForm.invalid"
        pButton
        type="button"
        label="Guardar"
        icon="pi pi-check"
        class="p-button-primary field"
        (click)="onUpdateMachine()"
      ></button>
      <button
        pButton
        type="button"
        label="Cancelar"
        icon="pi pi-times"
        class="p-button-secondary field"
        (click)="closeEditDialog()"
      ></button>
    </div>
  </form>
</p-dialog>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
