input[type=checkbox] {
  transform: scale(1.5);
}

.bg-span {
  background-color: #ffe5ca;
}

.text-span {
  color: #ff9b33;
}

.bg-tag-span {
  background-color: #ecfdf3;
}

.text-tag-span {
  color: #027a48;
}

button.disabled {
  background-color: var(--gray-500); /* Color de fondo para el botón deshabilitado */
  border-color: var(--gray-500);
}

button.disabled:hover {
  background-color: var(--gray-500); /* Color de fondo para el botón deshabilitado */
  border-color: var(--gray-500);
}
