<header>
  <nav class="mt-6 mb-8 flex align-items-center justify-content-between">
    <div class="flex align-items-center gap-3">
      <span class="flex sm:w-14rem md:w-20rem h-6rem justify-content-end border-round-right-2xl"
            style="background-color: #ff7600;">
        <img alt="app-logo" src="assets/logo-upscaled.png" width="96" height="96">
      </span>
      <button pButton pRipple type="button" icon="pi pi-arrow-left"
              class="p-button-secondary p-button-text p-button-lg">
      </button>
      <h1 class="text-lg md:text-2xl font-bold">{{ title }}</h1>
    </div>
    <div class="flex align-items-center gap-2">
      <button *ngIf="user.idRol == 1 || user.idRol == 2"
              type="button"
              pButton
              class="p-button-warning p-button-sm"
              [style]="{'background-color': '#ff7600', 'border-color': '#ff7600'}"
              icon="pi pi-user"
              (click)="menu.toggle($event)">
      </button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <button pButton pRipple type="button" icon="pi pi-sign-out"
              class="p-button-secondary p-button-text p-button-lg mr-3 md:mr-6"
              (click)="backToLogin()">
      </button>
    </div>
  </nav>
</header>
