<header class="w-full">
  <nav class="flex flex-wrap align-items-center justify-content-between mt-8">
    <div class="flex align-items-center gap-2">
      <!--<span
        class="flex justify-content-end border-round-right-2xl p-m-2 w-6rem h-6rem lg:min-w-full"
        style="background-color: #ff7600"
      >
        <img alt="app-logo" src="assets/logo-upscaled.png" class="w-6rem"/>
      </span>-->
      <span
        class="flex justify-content-end border-round-right-2xl w-4rem md:w-20rem h-4rem md:h-6rem"
        style="background-color: #ff7600"
      >
        <img alt="app-logo" src="assets/logo-upscaled.png" class="w-6rem" />
      </span>
      <button
        pButton
        pRipple
        type="button"
        icon="{{ backTo == '' ? '' : 'pi pi-arrow-left' }}"
        class="p-button-secondary p-button-text p-button-lg"
        routerLink="{{ backTo }}"
        [disabled]="backTo == ''"
      ></button>
      <h1 class="text-lg md:text-2xl font-bold white-space-nowrap">
        {{ title }}
      </h1>
    </div>
    <div class="flex align-items-center gap-2 p-2">
      <button
        type="button"
        pButton
        class="p-button-warning p-button-sm"
        [style]="{ 'background-color': '#ff7600', 'border-color': '#ff7600' }"
        icon="pi pi-user"
        (click)="menu.toggle($event)"
      ></button>
      <p-menu #menu [popup]="true" [model]="items"></p-menu>
      <button
        pButton
        pRipple
        type="button"
        icon="pi pi-sign-out"
        class="p-button-secondary p-button-text p-button-lg mr-3 md:mr-6"
        (click)="backToLogin()"
      ></button>
    </div>
  </nav>
</header>
