<div class="">
  <p-table
    #usersTable
    [value]="users"
    [rows]="rows"
    [paginator]="true"
    [(first)]="first"
    [showFirstLastIcon]="false"
    [globalFilterFields]="['rol']"
    [tableStyle]="{
      'min-width': '100%',
      border: '1px solid #e7eaed',
      'border-top': 'none'
    }"
    dataKey="id"
    [breakpoint]="'1170px'"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between flex-wrap sm:mt-0">
        <div class="flex align-items-center gap-2 w-full sm:w-auto">
          <h5 class="m-0 text-xl font-semibold text-gray-800">Lista de usuarios</h5>
          <span
            class="inline-flex align-items-center px-3 py-1 border-round-2xl text-base font-medium bg-span text-span"
          >{{ users.length }} usuarios</span
          >
        </div>
        <div class="flex flex-wrap">
          <div class="p-inputgroup w-full sm:w-auto mt-2 sm:mt-0">
            <input type="text" pInputText placeholder="Nombre de usuario" [(ngModel)]="username">
            <button type="button" pButton pRipple label="Buscar"
                    class="p-button-outlined p-button-secondary p-button-sm mr-2"
                    (click)="setFilter(username);loadUsers()"
            >
            </button>
          </div>
          <p-dropdown id="idRol" [options]="roles"
                      optionLabel="rol"
                      optionValue="idRol"
                      styleClass="mt-2 sm:mt-0 mr-2"
                      placeholder="Filtrar por rol" [(ngModel)]="selectedRoleId"
                      (onChange)="onChange($event);loadUsers()">
          </p-dropdown>
          <button pButton
                  class="p-button-secondary p-button-outlined p-button-sm w-full sm:w-auto mt-2 sm:mt-0"
                  routerLink="/main/user-form"
                  label="Crear usuario"
                  (click)="clearUserId()">
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th scope="col">Nombre de usuario</th>
        <th scope="col">Rol</th>
        <th scope="col">Estado</th>
        <th scope="col"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.usuario }}</td>
        <td>
          <span class="bg-gray-200 text-gray-800 font-medium text-sm px-2 py-1 border-round-3xl">
            {{ user.rol }}
          </span>
        </td>
        <td>
          <span
            class="font-medium text-sm px-2 py-1 border-round-3xl {{user.idEstado == 1 ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'}}">
            {{ user.idEstado == 1 ? '● Habilitado' : ' ● Inhabilitado' }}
          </span>
        </td>
        <td class="text-center">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-secondary p-button-text"
            (click)="setUserId(user.idUsuario)"
            routerLink="/main/user-form"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button
        type="button"
        icon="pi pi-arrow-left"
        label="Volver"
        styleClass="p-button-outlined border-gray-300 text-gray-800"
        (click)="prev()"
        [disabled]="isFirstPage()">
      </p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
      <p-button
        type="button"
        label="Siguiente"
        icon="pi pi-arrow-right"
        iconPos="right"
        styleClass="p-button-outlined border-gray-300 text-gray-800"
        (click)="next()"
        [disabled]="isLastPage()">
      </p-button>
    </ng-template>
  </p-table>
</div>
