<div class="min-w-full px-4 py-10 sm:px-6 lg:px-10 lg:py-14 mx-auto">
  <form [formGroup]="userFormGroup" (ngSubmit)="saveUser()"
        class="grid align-items-center justify-content-center row-gap-2 md:mx-8 md:row-gap-4">
    <label for="nombres" class="col-12 md:col-2 text-xl font-medium text-gray-800">Nombres:</label>
    <input formControlName="nombres" pInputText id="nombres" type="text" class="col-12 md:col-10" placeholder="Nombres"
           autofocus>

    <label for="apellidos" class="col-12 md:col-2 text-xl font-medium text-gray-800">Apellidos:</label>
    <input formControlName="apellidos" pInputText id="apellidos" type="text" class="col-12 md:col-10"
           placeholder="Apellidos">

    <label for="idRol" class="col-12 md:col-2 text-xl font-medium text-gray-800">Rol:</label>
    <p-dropdown formControlName="idRol" id="idRol" [options]="roles" optionLabel="rol" optionValue="idRol"
                class="col-12 md:col-10">
    </p-dropdown>

    <label for="idEstado" class="col-12 md:col-2 text-xl font-medium text-gray-800">Estado:</label>
    <p-dropdown formControlName="idEstado" id="idEstado" name="idEstado"
                [options]="[{name: 'Habilitado', code: 1}, {name: 'Inhabilitado', code: 0}]"
                optionLabel="name"
                optionValue="code"
                class="col-12 md:col-10"
                [disabled]="userId == 0">
    </p-dropdown>

    <label for="usuario"
           class="col-12 md:col-2 text-xl font-medium text-gray-800">Usuario:</label>
    <input formControlName="usuario" pInputText id="usuario" type="text" class="col-12 md:col-10"
           placeholder="Usuario">

    <form *ngIf="userId != 0" [formGroup]="passwordFormGroup" class="col-12 justify-content-between">
      <label for="nuevaClave"
             class="col-12 md:col-2 text-xl font-medium text-gray-800 text-left">Contraseña:</label>
      <input formControlName="clave" pInputText id="nuevaClave" type="password"
             class=" col-10 {{userId == 0 ? 'md:col-10' : 'md:col-8'}}"
             placeholder="Contraseña">
      <button type="button" pButton pRipple class="p-button-warning col-2 md:col-2"
              label="Cambiar contraseña"
              style="background-color: #FF7600; border-color: #FF7600; {{userId==0 ? 'display: none': ''}}"
              [disabled]="passwordFormGroup.invalid"
              (click)="updatePassword()">
      </button>
    </form>

    <label *ngIf="userId == 0" for="clave"
           class="col-12 md:col-2 text-xl font-medium text-gray-800 text-left">Contraseña:</label>
    <input *ngIf="userId == 0" formControlName="clave" pInputText id="clave" type="password"
           class=" col-10 {{userId == 0 ? 'md:col-10' : 'md:col-8'}}"
           placeholder="Contraseña">

    <button pButton type="submit" [label]="userId == 0 ? 'Registrar' : 'Actualizar'"
            class="p-button-warning col-12 md:col-6"
            style="background-color: #FF7600; border-color: #FF7600"
            [disabled]="userFormGroup.invalid"
    ></button>
  </form>
</div>
