<!--
<div class="max-w-1xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <div>
    <label for="username" class="block text-base font-medium text-gray-700">Nombre de usuario</label>
    <input
      id="username"
      name="username"
      type="text"
      class="transition-colors mb-2 bg-gray-50 pr-14 border focus:outline-none border-gray-300 text-gray-900 text-base rounded-lg focus:ring-2 focus:ring-gray-200 block w-full py-2 px-3"
      placeholder="Nombre de usuario"
      autocomplete="on"
      formControlName="username"
    />
  </div>
  <div>
    <label for="name" class="block text-base font-medium text-gray-700">Nombres</label>
    <input
      id="name"
      name="name"
      type="text"
      class="transition-colors mb-2 bg-gray-50 pr-14 border focus:outline-none border-gray-300 text-gray-900 text-base rounded-lg focus:ring-2 focus:ring-gray-200 block w-full py-2 px-3"
      placeholder="Nombres"
      autocomplete="on"
      formControlName="username"
    />
  </div>
  <div>
    <label for="lastName" class="block text-base font-medium text-gray-700">Apellidos</label>
    <input
      id="lastName"
      name="lastName"
      type="text"
      class="transition-colors mb-2 bg-gray-50 pr-14 border focus:outline-none border-gray-300 text-gray-900 text-base rounded-lg focus:ring-2 focus:ring-gray-200 block w-full py-2 px-3"
      placeholder="Apellidos"
      autocomplete="on"
      formControlName="username"
    />
  </div>
  <div>
    <label for="password" class="block text-base font-medium text-gray-700">Contraseña</label>
    <input
      id="password"
      name="password"
      type="text"
      class="transition-colors mb-2 bg-gray-50 pr-14 border focus:outline-none border-gray-300 text-gray-900 text-base rounded-lg focus:ring-2 focus:ring-gray-200 block w-full py-2 px-3"
      placeholder="Contraseña"
      autocomplete="on"
      formControlName="username"
    />
  </div>
  <div>
    <select name=""></select>
  </div>
</div>
-->
